[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
django = "*"
pylint-django = "*"
django-mptt = "*"
django-admin-list-filter-dropdown = "*"
djangorestframework = "*"
django-admin-tools = "*"
feedparser = "*"
update = "*"
django-controlcenter = "*"

[requires]
python_version = "3.7"
