<!DOCTYPE html>
<html>
 <head>
   <title>students api</title>
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
 </head>
<body>
<div>
   <button class="apireq">click me !</button> 
</div>
<div id="jsonresp" style="margin-top: 100px">
   <p><label> First name :</label> <span id="first_name"></span></p>
   <p><label> Last name :</label> <span id="last_name"></span></p>
   <p><label> age :</label> <span id="age"></span></p>
   <p><label> gender : </label> <span id="gender"></span></p> 
</div>
    <script type="text/javascript">
$('.apireq').click( function() {
    $.ajax({
             url : "http://localhost:8000/tdsapi/",
             dataType: "json",
             success : function (data) {
                      $('#first_name').text( data[0].title);
                      $('#last_name').text( data[0].layout);
                      $('#age').text( data[0].playlist);
                      $('#gender').text( data[0].station);
                    }
                 });
             });
    </script>
</body>
</html>